{% extends "layout.twig" %}

{% block content %}

<header>
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>
</header>

<section>
        {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Nullam Posuer","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '0','showBtn': true})|raw}}
</section>

    <div class="main wrapper clearfix">
        {{zone('main')|raw}}
    </div>




<footer>
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-two-25-75">
            <div class="column columns-two-left">
                {{widget('content', 'footercolumn1content1', {"content":"<h2>Lorem Ip Soda</h2>"})|raw}}

                {{widget('profile', 'footercolumn1profileaddress', { 'profileType':'address', 'address':'profile'})|raw}}
            </div>
            <div class="column columns-two-right">

                {{widget('content', 'footercolumn2content1', {"content":"<h2>Lorem Ip Soda</h2>"})|raw}}

                {{widget('profile', 'footcolumn2profilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}

                {{widget('profile', 'footcolumn2profilesocialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}

            </div>
        </div>
    </div>
</footer>

{% endblock %}
