<!doctype html>
<!--[if lt IE 7]>
	<html class="no-js ie6 oldie" lang="en">
<![endif]-->
<!--[if IE 7]>
	<html class="no-js ie7 oldie" lang="en">
<![endif]-->
<!--[if IE 8]>
	<html class="no-js ie8 oldie" lang="en">
<![endif]-->
<!--[if gt IE 8]><!-->
	<html class="no-js" lang="{{ page.seoLang }}">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	<meta name="keywords" content="{{ page.keywords }}" />
	<meta name="description" content="{{ page.description }}" />
	<meta http-equiv="content-language" content="{{ page.seoLang }}" />

	{% if site.favicon %}
		<link rel="icon" href="{{ site.favicon['favicon'] }}" type="image/x-icon" />
		<link rel="SHORTCUT ICON" href="{{ site.favicon['thumbnail'] }}?v={{ "now"|date("U") }}" type="image/x-icon" />
	{% endif %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="//{{env.assetDomain}}/templates/common/responsive-columns.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>
		$(function() {
			var pull 		= $('.pull');
				menu 		= $('.extendednavigation ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
	</script>

	{% include basekit.headScript %}
</head>
<body class="{{ page.backgroundClass }}">

	{% block content %}
	{% endblock %}

	{% include basekit.bodyScript %}
</body>
</html>

<script type="text/javascript">
	! function () {
	    function supportsSVG() {
	        return !!document.createElementNS && !! document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect
	    }
	    if (supportsSVG()) document.documentElement.className += ' svg'
	}()
</script>

